<% @spots_to_fill.each_with_index do |spot, index| %>
  <% if spot == 0 %>
    ___
  <% else %>
  <%= @word[index] %>
  <% end %>
<% end %>

<p>You have <%= @guesses_left %> guesses left.</p>
<p>You have already guessed:</p>
<% @guessed_letters.each do |ele| %>
  <%= ele %>
<% end %>

<form action="/make-guess" method="post">
  <div class="form-group">
    <label for="guess">Guess a Letter</label>
    <input type="text" name="letter_choice" class="form-control" value="">
  </div>
  <button type="submit" name="btn">Guess!</button>
</form>
